[submodule "vendor/llhttp"]
	path = vendor/llhttp
	url = https://github.com/nodejs/llhttp.git
[submodule "vendor/cpp-netlib"]
	path = vendor/cpp-netlib
	url = https://github.com/cpp-netlib/cpp-netlib.git
[submodule "vendor/httpparser"]
	path = vendor/httpparser
	url = https://github.com/nekipelov/httpparser.git
[submodule "vendor/talking-async"]
	path = vendor/talking-async
	url = https://github.com/chriskohlhoff/talking-async.git
